$dark-color: #29303B;
$light-color: #2E3540;
$blue-color: #3279FF;
$light-gray: #F5F5F5;


.edit-container {
    border: none;
    background-color: #E1E5EC;
    // background: transparent;
    // height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.new-photo-box {
    // background-color: lightblue;
    position: relative;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

    .profile-pic {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.update-box {
    margin-top: 8px;
    position: relative;
    // background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    label {
        font-size: 12px;
        margin: 1px 0 0 6px;
    }

} 

.update-field {
    // width: 40%;
    padding: 7px 4px;
    margin: 5px;
    border: none;
}

.skills-btn {
    background-color: white;
    justify-content: center;
    color: $light-color;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    border: none;
    -moz-appearance: none ;
    -webkit-appearance: none;
    appearance: none;
}

//this class is always active and sets the main css values
.profile {
    position: fixed;
    top: 0;
    // right: 0;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
    background-color: rgba(41, 48, 59, .6);
    overflow: auto;
    display: none;
}

//this class is triggers the animation when the button is clicked
.edit {
    display: block;
    // .edit-container {
    //     transform: translateY(0);
    // }
}
