.devs{
    display: flex;
    background: lightgrey;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-decoration: none !important;
}
.developer-card {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 21em;
    height: 25em;
    border: 2px solid black;
    
}

.developer-card > img {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    position: cover;
}

.dev-name, .dev-email, .dev-title {
    color: black;
    font-size: 15px;
}

.view-developer {
    background: black;
    color: white;
    border: none;
    margin: 0 auto;
    width: 60%;
    height: 4vh;
    font-size: 16px;
}

.view-developer:hover{
    background: white;
    border: black 2px solid;
    color: black;
    cursor: pointer;
}

.follow-button {
    background: green;
    color: white;
    width: 30%;
    height: 25px;
    border: none;
}