$dark-color: #29303B;
$light-color: #2E3540;
$blue-color: #3279FF;
$light-gray: #F5F5F5;

.form-container {
    border: none;
    background-color: #E1E5EC;
    // background: transparent;
    height: 400px;
    width: 400px;
    padding: 30px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.input-box {
    position: relative;
    
} 

.input-field {
    width: 100%;
    padding: 7px 4px;
    margin: 15px 0 12px;
    border: none;
}

.help-text {
    background-color: #DB4646;
    color: white;
    display: inline-block;
    position: absolute;
    // margin: 8px 0 10px 0;
    left: 0;
    // right: auto;
    top: 44px;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 12px;
}

.help-triangle {
    color: #DB4646;
    position: absolute;
    font-size: 20px; 
    left: 10px;
    top: -12px;
    height: 10px;
    width: 20px;
}

.select {
    // background-color: #677284;
    background-color: white;
    justify-content: center;
    color: $light-color;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    border: none;
    -moz-appearance: none ;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAGFBMVEUAAAAuNUAuNUAuNUAuNUAuNUAuNUAuNUACUA6CAAAAB3RSTlMAGjG+6/P1wTTolgAAAChJREFUGFdjYBgOwLy8vNwBiS8G5Csg8RnTy4tQNIihSAMVBDEMTwAA27MFyalfYEgAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right center;
  
}

.select::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: $blue-color;
    background-color: $blue-color;
    pointer-events: none;
}

.select:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
}

.join-btn {
    margin: 20px auto;
    padding: 10px 15px;
    width: 100%;
    border-style: none;
    background: $light-color;
    color: white;
    
}

.join-btn:hover {
    background-color: $dark-color;
    
}