// .header-home {
//     background-color: gray;
//     height: 60px;
//     padding: 0 10px;
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     align-content: center;
// }




.home-register {
    background-image: url('https://res.cloudinary.com/devmountain-phx/image/upload/v1562907415/heroIMG_dark_pzcjdy.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}