.home-register {
    background-image: url('https://res.cloudinary.com/devmountain-phx/image/upload/v1562824290/marvin-meyer-SYTO3xs06fU-unsplash_vodqoy.jpg');
    background-size: cover;
    background-color: purple;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}